
main {
  border: 1px solid red;
}

/* nav {
text-align: center;
  } */
nav ul {
  background-color: #FEBD17;
  list-style: none;
  text-align: center;
  padding: 10px 0 10px 0;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
nav ul li {
  padding: 10px 20px 10px 20px;
  color: black;
  font-size: 20px;
}
@media only screen and (max-width: 425px) {
nav ul{
  background-color:  black;
}
nav ul li {
  visibility: hidden;
}
}
aside{
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* background-color: #232323; */
  /* border: 1px solid green; */
  height: 206px;
  width: 370px;
  display: inline-block;
  /* margin-bottom: 15px; */
  /* float: left; */
  clear: both;
}
aside h3 {margin-top: -6px;}
aside h3 input {
    text-align: center;
    background: #FEBD17;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
  }
  aside header {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    /*border: 1px solid green;*/
    height: 40px;
    width: 280px;
    text-align: center;
    font-size: 27px;
    display: inline-block;
    float: left;
    color: #B2B2B2;
    background-color: #232323;
    margin-bottom: 10px;
  }
  aside article {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  /* height: 165px; */
  width: 269px;
  text-align: center;
  background-color: #B2B2B2;

  }
  aside article h1{
    font-size: 15px;
    margin-top: -2px;
  }
  h2 section{
    text-align: center;
    font-size: 15px;
    background-color: #141414;
    color: #B2B2B2;
    width: 270px;
    height: 279px;
    margin-top: -17px;
    margin-bottom: 10px;
  }
section ul li {
  margin-bottom: 10px;
}
.div{
  {
   /* border: 1px solid blue; */
   /*border-top-left-radius: 15px;
   border-top-right-radius: 15px;*/
   height: 240px;
   width: 244px;
   float: auto;
   display: inline-flex;
   /* margin-bottom: 0.5px;
   margin-right: 0.5px;
   border-left: 0.5px; */
   background: linear-gradient(to top, grey, white);
   text-align: center;
   /* clear: both; */
   /* padding: 1px 1px 1px 1px; */
 }
}
.header {
height: 40px;
width: 240px;
text-align: center;
/* margin-bottom: 20px; */
font-size: 15px;
display: inline-flex;
/* float: left; */
color: #B2B2B2;
background-color: #232323;
/* padding: 2px 2px 2px 2px; */
}
.img {
  height: 100px;
  width: 125px;
  margin-top: 5px;
}
div p {
  color: black;
  text-align: center;
  display: flex;
  /* float: left; */
}
footer {
  /* border: 1px solid red; */
  height:80px;
  /* width: 800px; */
  clear: both;
  margin-top: 15px;
background-color: #232323;
  display: inline-block;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  /* margin-left: 5px;
  margin-right: 5px; */
    padding: 10px 0 10px 0;
  }
  footer h1{
    font-size: 13px;
    text-align: center;
    color: #929292;
    margin: 5px;
  }
